

.titleboxbg {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000000' fill-opacity='0.05' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
}

.errorbox {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}


.titlebox{
    min-height:12vh;
    padding:1rem;
    background-color: transparentize($color: #ffffff, $amount: 0.4);
    display: flex;
    flex-direction: column;    
}

.descbox{
    width: 100%;
    background-color: #f7f7f7;
    flex-grow: 1;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    //line-height: 1.1rem;
}
.logo-font {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.05em;
    color: transparentize($color: #ffffff, $amount: 0.6);
}


.footer-span {
    font-family: 'Roboto', sans-serif;
    color: transparentize($color: #ffffff, $amount: 0.2);
    :hover{
        color: white;
    }
}

.flexer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;
}
  
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #dddddd;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

//$section-padding: 2rem 1.2rem;
//$family-secondary:'Bebas Neue';
//$footer-padding: 0.1rem 0rem 0.6rem 0rem;

//$footer-background-color: rgba(191, 191, 191, 0);
//$tablet-enabled: true;

//@import '../node_modules/bulma/bulma.sass'