
.register-view {
    display: grid;
    place-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0em;
}

.footer-logo{
    color:transparentize($color: #000000, $amount: 0.6);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1rem;
}