.tile-index{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 1rem;
    width: 5.2rem;
    background-color: #2d3436;
    @media (max-width: 768px) {
      flex-direction: column;
      padding: 0rem;
      width: 2rem;
      p{
        transform: rotate(-90deg);
        }
    }

}

.tile-data{
    //style={{display:"flex", flexDirection:"row", alignItems:'center',justifyContent:"space-between", width:"100%"}}
    display: flex;
    flex-direction: row;
    //align-items: center;
    //justify-content: space-between;
    width: 100%;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: space-between;
      justify-content: start;
    }
  
    @media (min-width: 768px) {
      align-items: center;
      justify-content: space-between;
    }
  }
  
.tile-control{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding: 0;
align-self: stretch;
@media (max-width: 768px) {
flex-direction: column;
align-items: space-evenly;
}

.button-control{
display: flex;
padding: 1rem;
height: 100%;
background-color: #ffffff; //#2d3436; //#2d3436
align-self: stretch;
transition: ease 0.3s;

}
.button-control:hover,.button-control:active{
cursor: pointer;
filter: invert(1);

}
}

